In [2]:
import pandas as pd
from datetime import datetime
from decimal import Decimal

In [3]:
import boto3
from boto3.dynamodb.conditions import Key,Attr

In [4]:
client = boto3.client('dynamodb')
resource = boto3.resource('dynamodb')

In [5]:
timestamp = 1566185600
dt_object = datetime.fromtimestamp(timestamp)

date = str(dt_object).split(" ")[0]

min_time = date + " " + "00:00:01"
max_time = date + " " + "23:59:59"

min_do = datetime.strptime(min_time, '%Y-%m-%d %H:%M:%S')
max_do = datetime.strptime(max_time, '%Y-%m-%d %H:%M:%S')

min_ts = datetime.timestamp(min_do)
max_ts = datetime.timestamp(max_do)

In [10]:
# GET TABLE LIST
response = client.list_tables()
list_tables = []
list_data = []
for item in response["TableNames"]:
    list_tables.append(item)

#GET NEW DATA FROM EACH TABLES
for item in list_tables:
    tmp = []
    table = resource.Table(item)
    response = table.query(
        KeyConditionExpression=Key('ID').eq(item) & Key('Timestamp').between(Decimal(min_ts),Decimal(max_ts)),
        ScanIndexForward= False
    )
    for data in response['Items']:
        tmp.append(float(data['Filled']))
    list_data.append(tmp)

print(list_data)

[[60.0, 121.5, 136.5, 112.5, 60.0], [136.5, 121.5, 136.5, 112.5, 60.0], [130.0, 120.0, 115.0, 110.0, 105.0], [121.5, 121.5, 136.5, 112.5, 60.0], [112.5, 60.0, 136.5, 112.5, 60.0], [76.5, 121.5, 136.5, 112.5, 60.0]]

In [12]:
df = pd.DataFrame(list_data)
df

       0      1      2      3      4
0   60.0  121.5  136.5  112.5   60.0
1  136.5  121.5  136.5  112.5   60.0
2  130.0  120.0  115.0  110.0  105.0
3  121.5  121.5  136.5  112.5   60.0
4  112.5   60.0  136.5  112.5   60.0
5   76.5  121.5  136.5  112.5   60.0

In [14]:
mean = df.mean(axis=1)
mean = mean.tolist()
mean

[98.1, 113.4, 116.0, 110.4, 96.3, 101.4]

In [19]:
final_data = []
for i, j in enumerate(list_tables):
    final_data.append({j:Decimal(mean[i])})
print(final_data)

[{'11-AA': Decimal('98.099999999999994315658113919198513031005859375')}, {'21-BA': Decimal('113.400000000000005684341886080801486968994140625')}, {'31-CA': Decimal('116')}, {'41-DA': Decimal('110.400000000000005684341886080801486968994140625')}, {'51-EA': Decimal('96.2999999999999971578290569595992565155029296875')}, {'61-FA': Decimal('101.400000000000005684341886080801486968994140625')}]